**/__pycache__
*.pyc
*.aux
*.log
*.out
*.gz
*.pdf
rfcs-annotated-tidied/*-clean.xml
*.pml
*.trail
pan
**/*.bbl
**/*.blg
._n_i_p_s_
*.tmp
*.pre
*.dot
GMatch4py/
*.png
venv
rfcs-predicted/
*.DS_Store
AttackerSynthesis/
